@import '../../styles/variables';

.overlay-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #282c3f;
  opacity: 0.7;
  overflow: hidden;
  z-index: 10000;

}

.side-bar-container {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: scroll;
  background: #fff;
  transition: transform 1s ease-out;
  z-index: 10001;
  padding-left: 120px;
  padding-right: 40px;
  width: 30%;

  .input-wrapper {
    border: 1px solid #d4d5d9;
    padding: 0;
    display: block;
    position: relative;
  }

  .search-input {
    height: 50px;
    font-size: 20px;
    padding: 0 20px;
    color: $black60;
  }

  .close-button-wrapper {
    padding: 30px 0;
  }

  .close-button {
    cursor: pointer;
  }
}

.side-bar-enter {
  opacity: 0.01;
}

.side-bar-enter.side-bar-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.side-bar-leave {
  opacity: 1;
}

.side-bar-leave.side-bar-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.side-bar-appear {
  transform: translateX(-100%);
}

.side-bar-appear.side-bar-appear-active {
  transform: translateX(0%);
  transition: transform .5s ease-in;
}

.list-item-container {
  cursor: pointer;
  border-bottom: $teal;
  border-bottom-width: 1px;
  padding: 20px 10px;
  display: flex;

  .location-detail {
    margin: 0 10px;

    .main-text {
      font-family: gotham-bold;
      color: $black60;
    }
  
    .secondary-text {
      font-size: 12px;
      color: #00000080;
    }
  }

  &:hover {
    background: #0000001A
  }
}

@media screen and (max-width: 414px) {
  .side-bar-container {
    width: 80%;
    padding: 0 10px;
  }
}

@media screen and (min-width: 415px) and (max-width: 1024px) {
  .side-bar-container {
    width: 50%;
    padding: 0 40px;
  }
}