@font-face {
  font-family: gotham-regular;
  src: url('./../../assets/fonts/GothamRoundedBook_21018.ttf');
}

@font-face {
  font-family: gotham-bold;
  src: url('./../../assets/fonts/GothamRoundedBold_21016.ttf');
}

@font-face {
  font-family: gotham-medium;
  src: url('./../../assets/fonts/GothamRoundedLight_21020.ttf');
}

@font-face {
  font-family: gotham-light;
  src: url('./../../assets/fonts/GothamRoundedMedium_21022.ttf');
}
