@import '../../styles/variables';

.details-header-card-container {
  box-shadow: 0 10px 10px -16px rgba(#7f8c8d, 1);
  background: white;
  border-radius: 5px;

  img {
    display: block;
    width: 100%;
    height: 400px;
    object-fit: cover;

  }

  .details-section {
    padding: 20px;

    .name {
      font-family: gotham-bold;
      font-size: 26px;
      color: $black60;
    }

    .secondary-details {
      color: #89959B;
    }

    .dot {
      -webkit-text-fill-color: #89959B;
      -webkit-text-stroke-color: #89959B;
      -webkit-text-stroke-width: 3px;
      background-color: white;
    }
  }
}