@import '../../styles/variables.scss';

.navbar {
  width: 100%;
  background: $appColor;
  position: fixed;
  z-index: 2;

  .nav-content {
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: space-between;
  }

  .logo {
    font-size: 24px;
    padding: 10px 0px;
    text-decoration: none;
    color: $teal;
    font-family: gotham-bold;

  }
  .logo:hover {
    color: $white;
  }
}

@media screen and (max-width: 768px) {
  .nav-content {
    flex-direction: column;
  }
}